/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  min-height: 100vh;
  padding: 200px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}


.tooltip-container {
  position: relative;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background-color: #0a0a0a;
  opacity: 0;

  white-space: nowrap;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;

  transition: opacity 0.3s;
}

.tooltip.visible {
  opacity: 1;
}

.tooltip.none {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
}

.tooltip.none::before {
  display: none;
}

.tooltip::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-left-width: 8px;
  border-right-width: 8px;
  border-top-width: 6px;
  border-bottom-width: 6px;
}

.tooltip.top-start,
.tooltip.top-center,
.tooltip.top-end {
  bottom: 100%;
  margin-bottom: 5px;
}

.tooltip.bottom-start,
.tooltip.bottom-center,
.tooltip.bottom-end {
  top: 100%;
  margin-top: 5px;
}

.tooltip.left {
  right: 100%;
  margin-right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.right {
  left: 100%;
  margin-left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.top-start,
.tooltip.bottom-center {
  left: 0;
  transform: translateX(-50%);
}

.tooltip.top-center,
.tooltip.bottom-center {
  left: 50%;
}

.tooltip.top-end,
.tooltip.bottom-end {
  right: 0;
}

.tooltip.top-start::before,
.tooltip.top-center::before,
.tooltip.top-end::before {
  top: 100%;
  border-top-color: #0a0a0a;
}

.tooltip.bottom-start::before,
.tooltip.bottom-center::before,
.tooltip.bottom-end::before {
  bottom: 100%;
  border-bottom-color: #0a0a0a;
}

.tooltip.left::before {
  left: 100%;
  border-left-color: #0a0a0a;
}

.tooltip.right::before {
  right: 100%;
  border-right-color: #0a0a0a;
}

.tooltip.top-start::before,
.tooltip.bottom-start::before {
  left: 10px;
}

.tooltip.top-center::before,
.tooltip.bottom-center::before {
  left: 50%;
  margin-left: -8px;
}

.tooltip.top-end::before,
.tooltip.bottom-end::before {
  right: 10px;
}